.card-header {
    background-color: maroon;
}



/* section */
.recHeight {
    min-height: 50vh;
    max-height: 50vh;
    min-width: 100vh;
    overflow-y: auto;
}
/* borrowBook */
.formBBookHeight {
    min-height: 50vh;
    max-height: 50vh;
    min-width: 100vh;
}

/* searchBook */
.bookList {
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    /* background-color: #92DFE70D; */
}

/* feedbacks */
.feedHeight {
    min-height: 50vh;
    max-height: 50vh;
    min-width: 100vh;
    overflow-y: auto;
}

/* main preset */
.card-header {
    background-color: maroon;
}
.card-body {
    background-color: maroon;
}
.contBody {
    background-color: maroon;
}
.mainCont {
    background-color: maroon;
}
body {
    background-color: maroon;
}

.mainDisplay {
    background-color: #f0f0fb;
}
.list {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    background-color: white;
}
.ind {
    background-color: #fbfbfe;
}

.nav-link.active {
    background-color: gold !important; /* Change this to the desired color */
    color: black !important; /* Optional: change text color */
    border-left: 3px solid #3b7ddd !important;
}
.nav-link:hover {
    background-color: gold;
    color: black !important;
}
.cardBorder {
    border: none !important;
}
.card-footer {
    border-top: none;
}
.menuHead {
    border-bottom: none !important;
}

/* sample color close to red */
.Salmon {
    color: #FA8072;
}

/* sample color close to green */
.MediumSpringGreen {
    color: #00FA9A;
}


.btn-success {
    background-color:#00FA9A !important;
    border: none !important;
    color: #006400;
}
.btn-success:hover {
    color: black;
}
.btn-danger {
    background-color: #ec5847 !important;
    border: none !important;
}
.btn-danger:hover {
    color: black;
}
.btn-warning {
    color: black !important;
}
textarea {
    min-height: 40vh !important; /* Adjust the value as needed */
    max-height: 50vh;
    overflow-y: auto;
}

/* requestStatus */
.reqHeight {
    min-height: 50vh;
    max-height: 50vh;
    min-width: 100vh;
    overflow-y: auto;
}

/* Desktop (between 992px and 1200px) */
@media (max-width: 1200px) and (min-width: 992px) {
    



}

/* Tablet (between 768px and 992px) */
@media (max-width: 992px) and (min-width: 768px) {
    
    
    
}

/* Phone (up to 768px) */
@media (max-width: 768px) {


    /* welcome.blade */
    #main-content {
        max-width: none !important;
        min-height: 100vh !important;
        max-height: 100vh;
        min-width: 100vw !important;
    }

    #main-content img {
        width: 230px !important;
        height: 200px !important;
        margin-bottom: 5rem !important;
    }

    /* end welcome.blade */
    

    /* user side bar */
    #user-sidebar {
        display: none !important;
    }

    #user-header {
        display: none !important;
    }

    #sub-sidebar {
        display: contents !important;
    }

    .wrapper {
        display: flex;
    }
    
    .main {
        min-height: 100vh;
        width: 100%;
        overflow: hidden;
        transition: all 0.35s ease-in-out;
        background-color: #fafbfe;
    }
    
    #sidebar {
        width: 70px;
        min-width: 70px;
        z-index: 1000;
        transition: all .25s ease-in-out;
        background-color: maroon;
        display: flex;
        flex-direction: column;
    }
    
    #sidebar.expand {
        width: 260px;
        min-width: 260px;
    }
    
    .toggle-btn {
        background-color: transparent;
        cursor: pointer;
        border: 0;
        padding: 1rem 1.5rem;
    }
    
    .toggle-btn i {
        font-size: 1.5rem;
        color: #FFF;
    }
    
    .sidebar-logo {
        margin: auto 0;
    }
    
    .sidebar-logo a {
        color: #FFF;
        font-size: 1.15rem;
        font-weight: 600;
    }
    
    #sidebar:not(.expand) .sidebar-logo,
    #sidebar:not(.expand) a.sidebar-link span {
        display: none;
    }
    
    .sidebar-nav {
        padding: 2rem 0;
        flex: 1 1 auto;
    }
    
    a.sidebar-link {
        padding: .625rem 1.625rem;
        color: #FFF;
        display: block;
        font-size: 0.9rem;
        white-space: nowrap;
        border-left: 3px solid transparent;
    }
    
    .sidebar-link i {
        font-size: 1.1rem;
        margin-right: .75rem;
    }

    a {
        text-decoration: none !important;
    }
    
    .sidebar-item {
        position: relative;
    }
    
    #sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
        position: absolute;
        top: 0;
        left: 70px;
        background-color: #0e2238;
        padding: 0;
        min-width: 15rem;
        display: none;
    }
    
    #sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
        display: block;
        max-height: 15em;
        width: 100%;
        opacity: 1;
    }
    
    #sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
        border: solid;
        border-width: 0 .075rem .075rem 0;
        content: "";
        display: inline-block;
        padding: 2px;
        position: absolute;
        right: 1.5rem;
        top: 1.4rem;
        transform: rotate(-135deg);
        transition: all .2s ease-out;
    }
    
    #sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
        transform: rotate(45deg);
        transition: all .2s ease-out;
    }
    /* end user side bar */


    /* book list main display */
    #book-list {
        width: 100% !important;
        margin: 0;
        margin-bottom: 1rem;
    }
    #remove-reload {
        display: none;
    }
    #book-list-margin {
        margin: 0 !important;
        margin-top: 4px !important;
    }
    /* end book list main display */

    /* user request status */
    #no-scroll {
        overflow-y: hidden !important;
    }
    #page-title {
        
        margin: 0 !important;
    }
    table {
        font-size: 10px !important;
        
    }
    #request-height {
        min-height: 60vh;
        max-height: 60vh;
        min-width: 100% !important;
        overflow-y: auto !important;
    }
    #cancel-button {
        font-size: 10px !important;
    }
    /* end user request status */
}
